<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java13/src/lv/beatrise/inputoutput/TestBufferRead.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="lv.beatrise.inputoutput.TestBufferRead"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java13"/>
</launchConfiguration>
